# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.cache/

# Test-related caches
.tox/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# PyCharm IDE files
.idea/
