name: test_and_upload_distribution
on:
  # Trigger on tagged pushes to the master branch
  push:
    branches:
      - master
    tags:
      - 'v*'
  # Or on pull requests against the master branch
  pull_request:
    branches:
      - master
jobs:
  test_and_upload_distr_job:
    runs-on: ubuntu-latest
    strategy:
      # Spawn and run a job for each of three supported Python 3.x versions
      matrix:
        python: [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Do non-shallow checkout to get all commits as needed if using setuptools_scm
        run: |
          git fetch --tags --prune --unshallow --force

      - name: Install MuMoT OS package dependencies
        run: sudo apt-get install -y texlive texlive-latex-extra graphviz dvipng
      - name: Set up a version of Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Upgrade pip and install generic Python build and test tools
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox codecov twine pep517

      - name: Run tests using tox
        run: tox -e py

      - name: Capture coverage data
        run: codecov
        if: matrix.python == '3.8'

      - name: Build a binary wheel and a source tarball
        run: python -m pep517.build --source --binary --out-dir dist/ .

      - name: Publish distributions to Test PyPI if this is a tagged commit
        if: success() && github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.test_pypi_password }}
        run: |
          twine check dist/*
          twine upload --repository testpypi dist/*
      - name: Publish distributions to PyPI if this is a tagged commit
        if: success() && github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_password }}
        run: twine upload dist/*
